body{
    margin: 0;
    padding: 0;
   /* background-image: url(img/hello.jpg);*/
    background-position-x: 5%;
    background-size: 68%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: cursive;
}
article, aside, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;

}
::selection {
    background: red;
    color: #fff;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}    

/* main nav */
.right-header {
    float: right;
    margin: 1% 2%;
    position: fixed;
    top: 0;
    right: 0;
}
.right-header hr {
    height: 3px;
    background: black;
    border: none;
}
.right-header h2{
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 1em;
}
ul.main-nav  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 200px;*/
    background-color: #f1f1f1;
}

.main-nav li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active  {
    background-color: #ff0000;
    color: white;
}

li a:hover:not(.active)  {
    background-color: #000;
    color: white;
}
/* main section */
section.main-content {
    position: absolute;
    width: 70%;
    margin-bottom: 70px;
}

section.main-content img {
    width: 79%;
    margin: 5% 10%;
    display: block;
}
.main-content .before-exc-blocks img {
    width: 100%;
    margin: 0;
    
}
.before-exc-blocks {
    margin: 3%;
}
.exc-blocks {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}
.exc-blocks figure {
    float: left;
    width: 14%;
}

/* footer */
footer{
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

}
.footer-nav li{
    display: inline;

}
.footer-nav li a {
    color: #777777;
    display: inline-block;
    padding: 3px 10px;
    text-decoration: none;
}



